<%= form_with url: flights_path, method: :get, local: true do |form| %>
  <div>
    <%= form.label 'Origin' %>
    <%= form.select :origin_id, options_for_airport, selected: params[:origin_id], required: true %>
  </div>

  <div>
    <%= form.label 'Destination' %>
    <%= form.select :destination_id, options_for_airport, selected: params[:destination_id], required: true %>
  </div>

  <div>
    <%= form.label 'Number of passengers' %>
    <%= form.select :number_of_passengers, [1, 2, 3, 4], selected: params[:number_of_passengers], required: true %>
  </div>

  <div>
    <%= form.label 'Date' %>
    <%= form.date_field :date, value: params[:date], placeholder: 'dd/mm/yyyy', required: true %>
  </div>

  <%= form.submit 'Find flights' %>
<% end %>

<% if @flights.present? %>
  <%= form_with url: new_booking_path, method: :get, local: true do |form| %>
    <%= form.hidden_field :number_of_passengers, value: params[:number_of_passengers] %>

    <% @flights.each do |flight| %>
      <div>
        <%= form.radio_button :code, flight.code %>
        <%= form.label :code, flight.code %>
      </div>
    <% end %>

    <%= form.submit 'Book flight' %>
  <% end %>
<% end %>
