<%= form_with model: @booking, local: true do |form| %>
  <%= form.hidden_field :date, value: @booking.date %>
  <%= form.hidden_field :flight_id, value: @booking.flight_id %>

  <div>
    <label><%= t 'activerecord.attributes.booking.date' %>: <%= l @booking.date, format: :date %></label>
  </div>

  <div>
    <label><%= t 'activerecord.attributes.flight.origin_id' %>: <%= @booking.flight.origin.name %></label>
  </div>

  <div>
    <label><%= t 'activerecord.attributes.flight.destination_id' %>: <%= @booking.flight.destination.name %></label>
  </div>

  <%= form.fields_for :passengers do |passengers_form| %>
    <div>
      <%= passengers_form.label :name %>
      <%= passengers_form.text_field :name %>
    </div>

    <div>
      <%= passengers_form.label :surname %>
      <%= passengers_form.text_field :surname %>
    </div>

    <div>
      <%= passengers_form.label :passport %>
      <%= passengers_form.text_field :passport %>
    </div>

    <div>
      <%= passengers_form.label :email %>
      <%= passengers_form.email_field :email %>
    </div>
  <% end %>

  <%= form.submit t '.confirm' %>
<% end %>
