<div>
  <%= t 'activerecord.attributes.booking.identifier' %>: <%= @booking.identifier %>
</div>
<div>
  <%= t 'activerecord.attributes.flight.code' %>: <%= @booking.flight.code %>
</div>
<div>
  <%= t 'activerecord.attributes.flight.origin_id' %>: <%= @booking.flight.origin.name %>
</div>
<div>
  <%= t 'activerecord.attributes.flight.destination_id' %>: <%= @booking.flight.destination.name %>
</div>
<div>
  <%= t 'activerecord.attributes.booking.date' %>: <%= l @booking.date, format: :date %> <%= t 'global.at' %> <%= l @booking.flight.departure_time, format: :time %>
</div>

<% @booking.passengers.each do |passenger| %>
  <div>
    <%= t 'activerecord.attributes.passenger.name' %>: <%= passenger.name %>
  </div>
  <div>
    <%= t 'activerecord.attributes.passenger.surname' %>: <%= passenger.surname %>
  </div>
  <div>
    <%= t 'activerecord.attributes.passenger.passport' %>: <%= passenger.passport %>
  </div>
  <div>
    <%= t 'activerecord.attributes.passenger.email' %>: <%= passenger.email %>
  </div>
<% end %>
